{% extends 'board/base.html' %}
{% block content %}
<h2>🕵️‍♂️ Intentos de Login Capturados</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>Usuario</th>
        <th>Clave</th>
        <th>IP</th>
        <th>Host</th>
        <th>Path</th>
        <th>Fecha</th>
    </tr>
    {% for intento in capturados %}
    <tr>
        <td>{{ intento.usuario }}</td>
        <td>{{ intento.clave }}</td>
        <td>{{ intento.ip }}</td>
        <td>{{ intento.host }}</td>
        <td>{{ intento.path }}</td>
        <td>{{ intento.fecha|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}