{% extends 'board/base.html' %}
{% block content %}

<h2>🍯Dispositivos Detectados</h2>

{% if alerta %}
    <div class="alert alert-danger" role="alert">
        🚨 ¡Se han detectado dispositivos no autorizados en la red!
    </div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>MAC Address</th>
            <th>IP Address</th>
            <th>Hostname</th>  {# ✅ nueva columna #}
            <th>Última Conexión</th>
            <th>Red</th>
        </tr>
    </thead>
    <tbody>
        {% for d in devices %}
        <tr>
            <td><a href="{% url 'mac_detail' d.mac_address %}">{{ d.mac_address }}</a></td>
            <td>{{ d.ip_address }}</td>
            <td>{{ d.hostname|default:"-" }}</td>  {# ✅ muestra hostname si existe o '-' #}
            <td>{{ d.detected_at }}</td>
            <td>
                {% if d.is_allowed %}
                    ✔️
                {% else %}
                    ❌
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    setTimeout(function() {
        location.reload();
    }, 30 * 1000);  // Recargar cada 30 segundos
</script>

{% endblock %}